**Telephone Directory CRUD Operation**

In [9]:
import pymongo
from pymongo import MongoClient

Create a database using attribute style on a MongoClient instance. Declare a variable db and assign the new database as an attribute of the client.

In [15]:
client = pymongo.MongoClient("mongodb://Akash:hello123@akashdb-shard-00-00.fswyf.mongodb.net:27017,akashdb-shard-00-01.fswyf.mongodb.net:27017,akashdb-shard-00-02.fswyf.mongodb.net:27017/Directory?ssl=true&replicaSet=atlas-10sgwu-shard-0&authSource=admin&retryWrites=true&w=majority")

Create a collection.

In [16]:
db=client["Telephone"]
coll=db["Directory"]
print(client.list_database_names())

['Task', 'Telephone', 'myFirstDatabase', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'simple', 'admin', 'local']

For CRUD operation, create a directory which has fields like Name, Phone number, Place etc.,

In [17]:
mydict =[ 
         { "name": "Akash","Phone No":"8124838177" ,"address": "avadi,chennai 62","gender":"Male" },
         { "name": "Antony","Phone No":"9790838748" ,"address": "NBK,chennai 92","gender":"Male" },
         { "name": "Hema","Phone No":"7788926271" ,"address": "ambattur,chennai 45","gender":"Female" },
         { "name": "Sneha","Phone No":"9176644152" ,"address": "korattur,chennai 54","gender":"Female" },
         { "name": "Akshy","Phone No":"9124838177" ,"address": "anna-nagar,chennai 36","gender":"Male" }
]

Insert the record into the collection.

In [18]:
x = coll.insert_many(mydict)
print(x.inserted_ids)

[ObjectId('6224c85a45d3ce2bca0f9d73'), ObjectId('6224c85a45d3ce2bca0f9d74'), ObjectId('6224c85a45d3ce2bca0f9d75'), ObjectId('6224c85a45d3ce2bca0f9d76'), ObjectId('6224c85a45d3ce2bca0f9d77')]

Make a query to find records you just created.

In [19]:

for i in coll.find():
  print(i)

{'_id': ObjectId('6224c85a45d3ce2bca0f9d73'), 'name': 'Akash', 'Phone No': '8124838177', 'address': 'avadi,chennai 62', 'gender': 'Male'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d74'), 'name': 'Antony', 'Phone No': '9790838748', 'address': 'NBK,chennai 92', 'gender': 'Male'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d75'), 'name': 'Hema', 'Phone No': '7788926271', 'address': 'ambattur,chennai 45', 'gender': 'Female'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d76'), 'name': 'Sneha', 'Phone No': '9176644152', 'address': 'korattur,chennai 54', 'gender': 'Female'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d77'), 'name': 'Akshy', 'Phone No': '9124838177', 'address': 'anna-nagar,chennai 36', 'gender': 'Male'}

Modify the records, use the update_one() method. The update_one() method requires two arguments, query and update.

In [20]:
myquery = { "address": "avadi,chennai 62" }
newvalues = { "$set": { "address": "Africa 123" } }
coll.update_one(myquery, newvalues)
for j in coll.find():
  print(j)

{'_id': ObjectId('6224c85a45d3ce2bca0f9d73'), 'name': 'Akash', 'Phone No': '8124838177', 'address': 'Africa 123', 'gender': 'Male'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d74'), 'name': 'Antony', 'Phone No': '9790838748', 'address': 'NBK,chennai 92', 'gender': 'Male'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d75'), 'name': 'Hema', 'Phone No': '7788926271', 'address': 'ambattur,chennai 45', 'gender': 'Female'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d76'), 'name': 'Sneha', 'Phone No': '9176644152', 'address': 'korattur,chennai 54', 'gender': 'Female'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d77'), 'name': 'Akshy', 'Phone No': '9124838177', 'address': 'anna-nagar,chennai 36', 'gender': 'Male'}

Delete the record, use delete_one() method. delete_one() requires a query parameter which specifies the document to delete.

In [21]:
myquery = { "name": "Sneha" }
coll.delete_one(myquery)
for k in coll.find():
  print(k)

{'_id': ObjectId('6224c85a45d3ce2bca0f9d73'), 'name': 'Akash', 'Phone No': '8124838177', 'address': 'Africa 123', 'gender': 'Male'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d74'), 'name': 'Antony', 'Phone No': '9790838748', 'address': 'NBK,chennai 92', 'gender': 'Male'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d75'), 'name': 'Hema', 'Phone No': '7788926271', 'address': 'ambattur,chennai 45', 'gender': 'Female'}
{'_id': ObjectId('6224c85a45d3ce2bca0f9d77'), 'name': 'Akshy', 'Phone No': '9124838177', 'address': 'anna-nagar,chennai 36', 'gender': 'Male'}